.goods {
  margin-top: 60px;
  margin-bottom: 20px;

  &-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    margin: 30px auto 0px auto;
  }

  &-panel {
    display: flex;
    justify-content: center;
  }

  &-search {
    margin-right: 83px;

    &__input {
      margin-left: 14px;
      background: #FFFFFF;
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      border: 0;
      padding: 6px 36px;
      text-align: center;
    }
  }

  &-filter {
    display: flex;
    align-items: center;

    &__inner {
      margin-left: 35px;
    }

    &__button {
      font-size: 12px;
      padding: 7px 20px 5px 20px;
      margin-right: 5px;
      background: #FFFFFF;
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
      border-radius: 4px 0px 0px 4px;
      border: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .goods {
    &-panel {
      flex-direction: column;
      align-items: center;
    }

    &-search {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .goods {
    &-panel {
      flex-direction: column;
      align-items: center;
      padding-right: 20px;
      padding-left: 20px;
    }

    &-search {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__input {
        padding: 6px 17px;
        margin-left: 0;
        margin-top: 14px;
      }
    }

    &-filter {
      flex-direction: column;

      &__inner {
        margin-left: 0;
        margin-top: 14px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      &__button {
        margin: 5px 5px;
      }
    }
  }
}

